<div class="container">
  <div class="row">
    
    <div id="htmlData">
      <!-- EMCABEZADO -->
      <div>
        <h1 class="text-center display-4" style="font-family: Arial, sans-serif;">Reporte Ejemplo</h1>
      </div>
      <h2>Lista de videojuegos en stock</h2>
      <table class="table table-bordered mt-4">
        <tr class="">
          <th>Id</th>
          <th>Name</th>
          <th>Platform</th>
          <th>Reference</th>
        </tr>
        <tr *ngFor="let game of VIDEOGAMES">
          <th>{{game.id}}</th>
          <td>{{game.name}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.reference}}</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <button class="btn col col-lg-2 btn-primary btn-block ml-4 mx-2" (click)="generatePDF()">Generate PDF</button>
    <button class="btn col col-lg-2 btn-danger btn-block ml-4" (click)="descargarPDF()">Descargar PDF</button>
  </div>
</div>

<ng-template #header>
  <h1>Encabezado de prueba</h1>
</ng-template>
